
.DS_Store
VT2023/Lab 1/.idea/workspace.xml
VT2023/Lab 1/.idea/vcs.xml
VT2023/Lab 1/.idea/misc.xml
VT2023/Lab 1/.idea/Lab 1.iml
VT2023/Lab 1/.idea/inspectionProfiles/profiles_settings.xml
VT2023/Lab 1/.idea/.name
VT2023/.idea/VT2023.iml
VT2023/.idea/vcs.xml
VT2023/.idea/modules.xml
VT2023/.idea/misc.xml
VT2023/.idea/inspectionProfiles/profiles_settings.xml
